<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            table {
                border: black 1px solid;
            }
            td {
                border: black 1px solid;
            }
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
