#titles {
  display: inline-block;
  background-color: red;
}
#data {
  display: inline-block;
  background-color: blue;
}
.titleData {
  display: inline;
  padding: 15px;
  background-color: green;
}
